.carousel__title {
    color: var(--orange-color);
    background-color: var(--white-color);
    text-align: center;
    font-size: 1.125rem;
    font-weight: 700;
    padding: 1em 0 0.5em 0;
}

.swiper-slide img {
    width: 100%;
}

.swiper-button-prev,.swiper-button-next {
    display: none;
}

.swiper-pagination {
    position: initial;
    margin: 0.5em 0 ;
}

.card {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5em;
}

.card-btn {
    display: flex;
    justify-content: space-between;
}

.card-btn__list {
    display: flex;
}

.card-container {

    background: var(--white-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin: 1em;
    padding: 1em;
 
}

.description__title {
    color: var(--orange-color);
    font-weight: 700;
}

.description__title-book {
    color: var(--blue-color);
    font-weight: 700;
    font-size: 1.125rem;
    margin: 0.5em 0;
}

.description__text {
    color: var(--black-color);
    font-size: .875rem;
    font-weight: 400;
}

.card-btn__items {
    margin: 0 0.5em;
}

.card-btn__anchor {
    background-color: var(--orange-color);
    padding: 1em 2.1em;
    text-decoration: none;
    font-weight: 700;
    color: var(--white-color);
}

.card__description {
    padding: 1em;
}

@media screen and (min-width:1024px) {
    
    .carousel__title {
        padding: 2em 0 1em;
        font-size: 1.625rem;
    }

    .swiper-slide img {
        width: 50%;
        padding: 0 5em;
    }
    .swiper-slide{
    display: flex;
    justify-content: center;
 }

    .swiper-pagination {
        padding: 2em 0;

 }

    .card-container {
        margin: 3em 13em 3em 13em;
    }
}

@media screen and (min-width:1728px){
    .carousel__desktop{
        display: flex;
        margin: 0 10vw 3em 10vw;
        align-items: center;
    }
    .swiper-pagination {
        margin: 0;
    }
    .card-container {
        margin: 4em 0 2em;
        width: 50%;
        align-items: center;
        /* height: 60%; */
    }
    .swiper-button-prev,.swiper-button-next {
        display: block;
    }
    .description__title {
        font-size: 2rem;
        margin-bottom: 0.5em;
    }

    .description__title-author {
        text-wrap: nowrap;
    }

    .card-btn {
        margin-bottom: 2em;
    }


}