.contact-container {
    background-color: var(--white-color);
    padding: 1em;
}

.contact__title,.contact__text{
    background: var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-size: 1.125rem;
    font-weight: 500;
}

.contact__text {
    font-weight: 300;
    font-size: 1rem;
    margin: 0.7em 0;
}

.contact__email {
    padding: 1em;
    border: .05rem solid var(--blue-color);
    color: var(--blue-color);
    border-radius: 1.5rem;
    width: 90%;
    
}

.contact__email::placeholder {
    font-weight: 400;
    color: var(--blue-color);
    font-family: var(--primary-font);
    background: url("../assets/Email.svg") no-repeat;
    background-position: 3em;
    text-align: center;



}

@media screen and (min-width:1024px) {
    .contact-container {
        padding: 4em;
        display: flex;
        text-align: left;
        justify-content: space-between;

    }
    .contact__email {
        width: 40%;
        margin-right: 2.5em;
    }
    .contact-container__1024 {
        margin-left:2.5em ;
    }

    .contact__title{
        font-size: 1.5rem;
    }

    .contact__email::placeholder {
        background-position: 5em;
    }
}
