.header__menu-hamburguer{
    width: 1.5rem;
    height: 1.5rem;
    background-image: url("../assets/Menu.svg");
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
    
    
}

.header-container {
    background-color: var(--white-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.menu-container {
    display: flex;
    align-items: center;
}

.header__image {
    padding: 1em;
}

.menu-list {
    display: none;
    position: absolute;
    top: 100%;
    z-index: 99;
}
#menu[type=checkbox]:checked + label .header__menu-hamburguer {
    background-color: var(--blue-color);
    background-image: url("../assets/MenuAberto.svg");
}

#menu[type=checkbox]:checked + label + .menu-list {
    display: block;
}

.menu__title,.menu__item {
    background-color: var(--white-color);
    padding: 1em;
    width: 55vw;
}

.menu__title{
    color: var(--orange-color);
    font-weight: 700;
}


.menu__link {
    background: var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-decoration: none;
    font-weight: 400;
}

.header__btn {
    display: none;
}

.menu-container__title {
    display:none
}

.options-list {
    display: none;
}

@media screen and (min-width:1024px) {

    .option__menu-link {
        color: var(--blue-color);
        text-decoration: none;
    }

    .menu-container__title__bold,
    .menu-container__title {
        font-family:var(--secundary-font);
        font-size: 1.875rem;
    }
    .menu-container__title{
        font-weight: 400;
        display: block;
        margin-left: -1em;
    }

    .menu-container__title__bold {
        font-weight: 700;
    }

    .menu-container__tablet {
        display: none;
    }

    .options-list {
        display: flex;
    }
    .options__item {
        padding: 0 1em;
    }

    .options__link {
        text-decoration: none;
        color: var(--black-color);
    }

    .option__list {
        display: none;
        position: absolute;
        top: 100%;
        z-index: 99;
    }
    .menu-list,.menu__item {
        width: 40%;
    }
    
    #option__menu[type=checkbox]:checked ~ .menu-list{
        display: block;

    }

    #option__menu[type=checkbox]:checked + label .option__item-title{
        background:var(--gradient-color);
        color: var(--white-color);
        padding: 1em;
    }

    /* adiciona o background quando o elemento filho é acionado */
    .menu__item:focus-within{
        background:var(--gradient-color);
    }

    .option__menu-link:focus{
        color: var(--white-color);

    }

    .option__menu-link {
        display: block; /* Garante que o link ocupe todo o espaço do li */
      }
      
      .option__menu-link:focus {
        outline: none; /* Remove o contorno de foco padrão */
      }

      
    .transparent__image {
        display: none;

    }
    
    .header-container{
        display: flex;
        justify-content: center;
        gap: 5em;
    }
    .menu-container {
        gap: 1.5em;
    }
}