.topics-container {
    background: var(--gradient-color);
    text-align: center;
    padding: 1em;

}
.topics__title {
    color: var(--white-color);
    font-weight: 300;
    padding: 1em 0 0.5em;
}

.topics__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.topics__item {
    margin: 2em 0.5em;
}



.topics__link {
    text-decoration: none;
    color: var(--white-color);
    font-size: .875rem;
    font-weight: 700;
    padding: 1em;
    background-color: var(--orange-color);


}


@media screen and (min-width:1024px) {

    .topics__item {
        margin: 2.5em 0.5em;
    }

    .topics__link {
        font-size: 1.5rem;
    }

    .topics__title {
        font-size: 1.5rem;
        margin-bottom: 0.5em;
    }

}